@media (max-width: 1350px) {
  .login .login_img .login_title {
    display: none;
  }
  .attendance_table {
    overflow-x: scroll;
  }
  .employee_table {
    overflow-x: scroll;
  }
}
.calender_btn {
  display: none;
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 980px;
  }
}

@media (max-width: 1200px) {
  .calender_btn {
    display: block;
  }
  .modal_calender {
    display: block;
  }
  .attendance_calender {
    display: none;
  }
  .attendance_table .table {
    width: 1200px;
  }
  .employee_table .table {
    width: 1200px;
  }
  .attendance_right {
    margin-right: 0;
  }
  .wrapper .sidebar {
    left: -400px;
  }
  .wrapper .sidebar.active {
    left: 0px;
  }
  .wrapper .sidebar .logo .close_btn {
    display: block;
  }
  .wrapper .main_section {
    width: 100%;
    left: 0;
  }
  .main_header .header_section .header_left .toggle {
    display: block;
    margin-right: 10px;
    cursor: pointer;
  }
  .modal-lg,
  .modal-xl {
    max-width: 980px;
  }
}

@media (max-width: 991px) {
  .date-picker-date-container {
    left: -10px;
    z-index: 3;
  }
  .attendance_left {
    margin-bottom: 20px;
  }
  .login .login_form {
    margin-left: 0px;
    padding: 50px 30px;
    margin-top: 50px;
    min-width: 100%;
  }
  .attendance_middle {
    display: block;
    padding: 18px 20px 22px;
  }
  .salary-statement {
    padding: 48px 20px 48px 20px;
  }
  .employee_details_bottom {
    padding: 32px 20px 52px;
  }
  .employee_wrapper {
    padding: 36px 20px 23px 20px;
  }
  .user_details_bottom {
    padding: 28px 20px 42px;
  }

  .modal_profile {
    padding: 30px 20px 0px;
  }
  .modal-dialog {
    max-width: 800px;
  }

  .modal-content {
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .main_body {
    padding: 0px 10px 0px 10px !important;
  }
  .employee_wrapper .nav-item {
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
  .title h3 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .time_count {
    min-width: 100%;
  }
}
@media (max-width: 376px) {
  input[type="file"] {
    font-size: 12px;
  }
  .Profile-Picture::after {
    right: 8px;
  }
}
